@font-face
	font-family: 'Highliner'
	src: url('/assets/fonts/Highliner/Highliner regular.otf')
@font-face
	font-family: 'Highliner Light'
	src: url('/assets/fonts/Highliner/Highliner light.otf')
@font-face
	font-family: 'Highliner Bold'
	src: url('/assets/fonts/Highliner/Highliner bold.otf')

@font-face
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf')

@font-face
	font-family: 'Raleway'
	src: url('/assets/fonts/Raleway/Raleway.ttf')
